<h1>New post</h1>
{{#if addNewPost}}
  <form>
    <div class="form-group">
      <label>Title</label>
      {{input type="text" class="form-control" value=title id="title" placeholder="Add title"}}
    </div>
    <div class="form-group">
      <label>Author</label>
      {{input type="text" class="form-control" value=author id="author" placeholder="Add author"}}
    </div>
    <div class="form-group">
      <label>Content</label>
      {{textarea rows="8" cols="50" class="form-control" id="content" value=content}}
    </div>
    <button {{action 'savePost1'}} class="btn bg-primary">Save</button>
  </form>
{{else}}
  <button {{action 'postFormShow'}}>Add New Post</button>
{{/if}}
